<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">

		<parameter name="firstName" value="Angel" />
		<parameter name="lastName" value="Cristy" />
		<parameter name="email" value="angel.cristy87@gmail.com" />
		<parameter name="Reemail" value="angel.cristy87@gmail.com" />

		<parameter name="password" value="Cristy67" />

		<classes>
			<class name="org.executable.Facebook" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
